<p class="text-xl font-semibold mb-4"> Please select a time for your appointment</p>

<div class="field-side-by-side">
    <div>
        <table class="table mb-6">
            <thead>
                <tr>
                    <th> Time </th>
                    <th> Appointments Available </th>
                </tr>
            </thead>
            <tbody>
                <% @clinic.appointment_times.each do |time| %>
                    <tr>
                        <td>
                            <%= f.radio_button(:appointment_time, time, class: "form-radio") %>
                            <span class="ml-1"><%= time %></span>
                        </td>
                        <td> <p> <%= rand(10).to_i %> appointments available </p> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <button type="button" class="button-action"> Add Me to the Waiting List </button>
    </div>
    <div> </div>
</div>

<%= hidden_field_tag :next_step, "end_flag" %>
