<p class="text-xl font-semibold mb-4"> Please select a time for your appointment</p>


<div class="flex mb-8">
  <div class="w-1/2 mr-4">
    <div class="form-question">Time</div>
    <%= f.time_select :school,
        {:combined => true,
        :default => Time.now.change(:hour => 11, :min => 30),
        :minute_interval => 15,
        :time_separator => "",
        :start_hour => 10,
        :start_minute => 30,
        :end_hour => 14,
        :end_minute => 30,
        :ampm => true}
    %>
  
  </div>
  <div class="w-1/2"></div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <button type="button" class="mt-3 w-full px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out sm:mt-0 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto">
        Add Me to the Waiting List
    </button>
  </div>
  <div class="w-1/2"></div>
</div>


<%= hidden_field_tag :next_step, "end_flag" %>
