<p class="text-xl font-semibold mb-4"> Please select a location and a time for your appointment</p>


<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <div class="form-question">County</div>
    <%= select_tag :clinic, options_for_select(Clinic.all.collect{|c| [c.name, c.id]}), class: "w-full form-select block rounded m-1" %>
  </div>
  <div class="w-1/2"></div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <div class="form-question">Time</div>
    <%= f.time_select :school,
  {:combined => true,
  :default => Time.now.change(:hour => 11, :min => 30),
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 14,
  :end_minute => 30,
  :ampm => true},
%>
  
  </div>
  <div class="w-1/2"></div>
</div>




<%= hidden_field_tag :next_step, "end_flag" %>
