<h1> Confirmation for vaccinated patient! </h1>

<h2> Patient Info: </h2>
<p> Full Name: <%= @patient.full_name %> </p>
<p> Initials: <%= @patient.middle_initial %> </p>

<h2> Vaccine Info: </h2>
<p> Clinic Date: <%= @clinic_event.clinic.clinic_date %> </p>
<p> Vaccine Name: </p>
<p> Manufacturer: </p>
<p> Lot Number: </p>
<p> Expiration Date: </p>