<div class="clinic_new_personnel">
    <%= f.text_field :name, placeholder: "Clinic Staff Person's Name", class: "form-input" %>
    <div class="clinic-new-personnel-delete-button">
        <%= f.hidden_field :_destroy %>
        <%= link_to '#', class: 'remove_record' do %>
            <span> &#10005; </span>
        <% end %>
    </div>
</div>
