<%= label_tag "clinic_dates[]", class: "block" do %>
    <span> Clinic Date </span>
    <span class="field-required">*</span>
<% end %>

<%= date_field_tag "clinic_dates[]", clinic_date, class: "form-input", placeholder: "MM/DD/YYYY", data: {action: "change->inventory-new-entry#updateModalField keyup->inventory-new-entry#updateModalField"} %>
