<div class="relative nestedClinicDate">
    <div>
        <%= label_tag "clinic_dates[]", class: "block" do %>
            <span> Clinic Date </span>
            <span class="field-required">*</span>
        <% end %>
        <%= text_field_tag "clinic_dates[]", clinic_date, class: "form-input", id: "clinic_date", data: {controller: "flatpickr", flatpickr_min_date: Time.zone.now} %>
    </div>
</div>
