<div id="clinic-header" class="bg-gray-100 p-2 -mt-2 mb-4 -mx-4 border-b-2 border-gray-500 shadow">
  <h1 class="text-2xl font-bold"><%= action_name == "activity" ? @clinic.venue_name : @clinic.name %></h1>
    <% 
        clinic_menu = {
          "Registration List": clinic_patients_path(clinic_id: @clinic.id),
          "Virtual Queue": clinic_queued_patients_path(clinic_id: @clinic.id),
          "View/Edit Clinic": edit_clinic_path(id: @clinic.id),
          "Activity Form": clinic_activity_path(clinic_id: @clinic.id),
          "Customized Report": new_customized_report_path(clinic_id: @clinic.id)
        }
        clinic_menu["Activity Report"] = clinic_report_path(clinic_id: @clinic.id) if @clinic.open_state == "closed"
      %>
  <h2 class="text-xl font-bold flex-grow"><%= @page_title || raise %></h2>
  <div class="flex justify-end">
      <span class="pr-4 pt-5">Total Registered: <%= @clinic.patients.size %></span>

      <% clinic_menu.each do |link_name, link_route| %>
        <%
        classes_for_link = "pr-4 text-xl pt-4"
        classes_for_link << " font-bold" if current_page?(link_route)
        %>
        <%= link_to ("» " + link_name.to_s), link_route, class: classes_for_link %>
      <% end %>
  </div>
</div>