<div class="main-container">
    <h3 class="main-title">Sync and API Status</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>API Server</th>
                <th>Last Synced</th>
                <th>Transactions</th>
                <th>Accepted</th>
                <th>Error</th>
            </tr>
        </thead>
        <tr>
            <td>Maryland Immunet VXU</td>
            <td>immunet.health.maryland.gov</td>
            <td><%= Time.now.strftime("%S").to_i %> seconds ago</td>
            <td>10</td>
            <td>8</td>
            <td>2</td>

        </tr>
        <tr>
            <td>Maryland Immunet QBP</td>
            <td>immunet.health.maryland.gov</td>
            <td><%= Time.now.strftime("%S").to_i + rand(5) + 2 %> seconds ago</td>
            <td>12</td>
            <td>11</td>
            <td>1</td>

        </tr>
    </table>


</div>