<div class="clinics-index-page">
    <div class="page-header">
        <h3 class="main-title">Clinics Listing</h3>
    </div>

    <div class="flex justify-end">
        <form class="flex w-2/4">
            <input type="text" name="q" value="<%= params[:q] %>" class="input-primary w-full mr-3" placeholder="Search Here">
            <input type="submit" class="button-primary" value="Search">
        </form>
    </div>

    <div class="flex flex-col my-12">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full overflow-hidden">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Date </th>
                            <th> County </th>
                            <th> Venue Name </th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <%= render @clinics %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!--    <div class="pagination-section">
        <div class="pagination-container">
            <div class="pagination-info">
                <p><%# page_entries_info @clinics %></p>
            </div>
            <div class="pagination-buttons">
                <span class="lg-buttons"><%# will_paginate @clinics %></span>
                <span class="sm-buttons"><%# will_paginate @clinics, page_links: false %></span>
            </div>
        </div>
    </div> -->
</div>
