<% @clinic.clinic_events.group_by(&:outcome).each do |outcome, events| %>
    <h3 class="font-bold text-2xl mt-8"><%= outcome %></h3>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
        </tr>
        </thead>

        <% events.each do |event| %>
        <tr>
            <td><%= event.patient.full_name %></td>
            <td><%= event.patient.date_of_birth %></td>
        </tr>
        <% end %>
    </table>
<% end %>