<h1 class="main-title">COVID-19 Testing: Do you have a code?</h1>
<form>
    <div class="field-side-by-side">
        <div>
            <p class="label"> If you've been referred for COVID-19 testing and you've received an access code, please enter it here to proceed with registration for testing. </p>
            <input name="access_code" class="form-input w-full my-4" value="<%= Patient.all.sample.access_code %>">
            <input type="submit" value="Continue" class="button-primary-fullwidth">
        </div>
        <div> </div>
    </div>
</form>

