<h1 class="text-2xl font-bold mb-2">Clinic Check In</h1>
<% if @patient.checked_in? %>
  Thank you! You have been checked in to the clinic. You will be notified when
  the clinic is ready for you.
<% else %>
  Sorry, but check in is currently unavailable. Please check the time and try
  again later.
<% end %>