<div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
  <p class="mt-8 mb-8 text-base leading-6 text-gray-400 md:mt-0 md:order-1">
    &copy; <%= Date.current.year %> <%= t 'views.public_portal.footer.copyrights' %>
  </p>
</div>
