<h2 class="main-title"> Message Board </h2>

<div class="message-board bg-white container justify-center mt-12 lg:mx-auto lg:flex">
    <div class="board-container w-full flex flex-wrap justify-center">
        <div class="content w-full flex flex-wrap justify-between">
            <div class="message-container py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2 w-full">
                <input type="subject" class="form-input block w-full mb-4" placeholder="Subject: ">
                <textarea class="form-textarea block w-full" rows="9" placeholder="Enter your message here.. "></textarea>
            </div> 
            <div class="send-container py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2 w-full">
                <div class="send-content block w-full">
                    <span class="title text-gray-900 text-xl">Send Message to: </span>
                    <div class="options mt-4">
                        <div>
                            <label>
                                <input type="checkbox" class="form-checkbox text-blue-500" checked>
                                <span class="ml-2 text-base text-gray-700">All users</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center mt-4">
                                <input type="checkbox" class="form-checkbox text-blue-500">
                                <span class="ml-2 text-base text-gray-700">Healthcare Providers</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center mt-4">
                                <input type="checkbox" class="form-checkbox text-blue-500">
                                <span class="ml-2 text-base text-gray-700">Local Health Departments</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center mt-4">
                                <input type="checkbox" class="form-checkbox text-blue-500">
                                <span class="ml-2 text-base text-gray-700">School Health</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center mt-4">
                                <input type="checkbox" class="form-checkbox text-blue-500">
                                <span class="ml-2 text-base text-gray-700">Agency Administrator</span>
                            </label>
                        </div>
                        <p class="text-sm mt-4 font-semibold"> * All messages must be approved by Regional Administrator </p>
                        <div class="mt-8">
                            <a href="#" class="button-primary">Submit Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>    
</div> 