<h1>Thank you for subscribing for our News & Notifications</h1>

<p>Dear <%= @news_signup.first_name + " " + @news_signup.last_name %>,
<br />
You have been successfully signed up to receive our emails when we have something new to share, or 
to notify you.
<p>

<p>
Thank you,
<br />
Clinic Wizard
<p>

