<h1><%= t('views.patient_notifier_mailer.kit_created.title')%></h1>

<p> <%= t('views.patient_notifier_mailer.kit_created.patient', patient_email: @patient.email) %>,
<br />
<%= t('views.patient_notifier_mailer.kit_created.successful') %>
<p>

<p>
<%= t('views.patient_notifier_mailer.kit_created.end') %>
<br />
Clinic Wizard
<p>
