<p> Dear <%= "#{@provider_enrollment.first_name} #{@provider_enrollment.last_name}" %>, </p> 

<p> 
    We appreciate your interest in joining our effort. 
    An administrator will contact you soon.
</p>

<p> 
    To inquire about your status, please contact your local health department. 
</p>

<p> Thank you. </p>