<h1>ProviderEnrollment#request_confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/provider_enrollment_mailer/request_confirmation.html.erb
</p>

<p>
Thank you for your request <%= @provider_enrollment.first_name %>. Your Regional Administrator will be in touch shortly. To inquire about our request call your state health department.
</p>
<%# link_to 'Your Provider Enrollment', @provider_enrollment %>
