<p> <%= t('views.provider_enrollment_mailer.request_confirmation.title', first_name: @provider_enrollment.first_name,  last_name: @provider_enrollment.last_name) %>, </p>

<p>
    <%= t 'views.provider_enrollment_mailer.request_confirmation.message' %>
</p>

<p>
     <%= t 'views.provider_enrollment_mailer.request_confirmation.status' %>
</p>

<p>  <%= t 'views.provider_enrollment_mailer.request_confirmation.end' %> </p>