<p id="notice"><%= notice %></p>

<h1>Customized Reports</h1>

<% @customized_reports.each do |customized_report| %>
  
<% end %>

<br>

<%= link_to 'New Customized Report', new_customized_report_path %>
