<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
    <p class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        Contact Type
    </p>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-xs rounded-md shadow-sm">
            <%= event_form.select :contact_type, options_for_select(["In Person", "Telephone", "Electronic", "Other"], event_form.object.screening_outcome), {}, class: "block form-select w-full" %>
        </div>
    </div>
</div>

<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <p class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        Screening Outcome
    </p>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-xs rounded-md shadow-sm">
            <%= event_form.select :screening_outcome, options_for_select(["Low Risk", "Moderate Risk", "Refer for Testing", "Other"], event_form.object.screening_outcome), {}, class: "block form-select w-full" %>
        </div>
    </div>
</div>
