<h1> Registration Confirmated </h1>

<p> You are registered for the clinic on <%= @clinic_event.event_date.strftime("%d/%m/%Y") %>. </p>

<p> To help with social distancing, we will text or email when we're ready for you. </p>

<p> We'll send you a link that you'll be able to click on and check in from outside .</p>

<p> Thank you,
Clinic Wizard</p>
