<h1> Registration Confirmated </h1>

<p> You are registered for the clinic on <%= @clinic_event.event_date.strftime("%d/%m/%Y") %>. </p>

<p> To help with social distancing, click on the link below to check in from outside.  
    We will text or email when we're ready for you.</p>