<div class="w-full sm:w-1/2 md:w-1/3 md:w-1/3 lg:w-1/5 px-4 mb-4 md:mb-6  lg:mb-10">
    <%= link_to url, class: "p-6 text-center flex flex-col justify-center items-center border-2 hover:bg-gray-50 min-h-full" do %>
        <h1 class="text-gray-600 pb-1 border-b w-full mb-6 flex flex-col justify-center items-center" style="min-height: 55px;">
        <%= name %>
        <% if defined?(subtitle) %>
            <br /> <span class="font-bold"><%= subtitle %></span>
        <% end %>
        </h1>
        <%= image_tag "icons/#{image}.png", class: "m-auto", style: "max-height: 70px; max-width: 80px;" %>
    <% end %>
</div>