<h1 class="main-title"> COVID-19 Response Reports in Real-Time </h1>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Snapshot </h1>
        <p class="text-sm text-gray-500 leading-5 italic">
            A quick look at metrics of interest by demographics, region, or county: 
            number of people tested, positive results, negative results, evidence of immunity.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Capacity </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            A summary of resources and utilization by venue, county, or statewide.
            Includes available testing appointments, scheduled appointments, pockets of need.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Uptake </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            An overview of COVID-19 services utilized so far by demographics, 
            ZIP Code, county, or region: number of available appointments, number of completed appointments.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Locations </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            A summary of activities at testing sites: overall number, number of 
            tests administered by location, ratio of available appointments to 
            completed appointments, patient demographics.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Providers </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            An accounting of providers engaged in the response by specialty, regions, 
            number of patients tested, vaccine inventory.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Employers </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            An accounting of employers engaged in the response by specialty, regions, 
            number of patients tested, vaccine inventory.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Supplies Inventory </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            An accounting of testing kits and other supplies by venue, county, or statewide.
        </p>
    </div>

    <div class="shadow rounded-lg p-6 border"> 
        <h1 class="uppercase text-brand-blue-600 mb-2 font-bold"> Customized </h1>
        <p class="text-sm text-gray-500 leading-5 italic"> 
            Choose from a variety of data points to create your own report.
        </p>
    </div>
</div>