<div id="queued-patient-filters" class="mt-4 pt-12 pb-8">
  <span class="font-bold mr-4">Filter: </span>
  <%= link_to "All", clinic_queued_patients_path(clinic_id: @clinic.id), class: "p-2 mr-4 bg-blue-500 rounded text-white" %>
  <% Appointment.aasm.states.collect(&:name).each do |state| %>
    <%= link_to clinic_queued_patients_path(clinic_id: @clinic.id, state: state), class: "p-2 mr-4 bg-blue-500 rounded text-white" do %>
      <%= state.to_s.titleize %> (<%= @clinic.appointments.count{|a| a.queue_state == state.to_s }%>)
    <% end %>
  <% end %>
</div>