<% @clinic.reload %>
<div id="queued-patient-section-<%= queue_state %>">
  <h3 class="text-2xl font-bold mt-4 mb-2 pt-12"><%= queue_state.to_s.titleize %></h3>
  <table class="table w-full">
    <thead><tr class="border-b-2">
      <th>Appointment Time</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Queue State</th>
      <th>Actions</th>
    </tr></thead>
    <% @clinic.appointments.select{|a| a.queue_state.to_s == queue_state.to_s}.sort_by{|a| a.on_waiting_list? ? 15000000000 : a.appointment_at.to_i}.each do |appointment| %>
      <%= render partial: 'queued_patient_row', locals: {appointment: appointment, patient: appointment.patient} %>
    <% end %>
  </table>
</div>