.clinics-edit-page {
  .card-wrapper {
    .card-content {
      .form-group {
        @apply mb-0;

        .staff-input {
          @apply mb-2;
        }

        .add-more-staff {
          @apply text-brand-red text-xs underline;
        }
      }

      .submit-buttons {
        @apply border-t-2 border-brand-gray-300 mt-3 pt-6;

        .submit-button {
          @apply mr-3;

          &:last-child {
            @apply mr-0;
          }
        }
      }

      .edit-new-form {
        input, select {
          @apply outline-none;

          &:focus {
            @apply border-brand-red shadow-none;
          }
        }

        .public-private-container,
        .service-provider-open-section,
        .date-time-section,
        .appointment-info-section,
        .contact-section,
        .other-info-section {
          @apply border-b border-gray-200 pb-5 mb-6;

          .title {
            @apply w-full font-medium text-gray-900 text-base leading-5;

            @screen md {
              @apply text-lg leading-6;
            }
          }
        }

        .public-private-container {
          .fields-container {
            @apply flex items-end pt-4;

            .field {
              @apply flex items-center;

              input {
                @apply h-4 w-4 text-brand-red transition duration-150 ease-in-out;
              }

              label {
                @apply ml-3 mr-4;

                span {
                  @apply block text-sm leading-5 text-gray-700;
                }
              }
            }
          }
        }

        .service-provider-open-section,
        .date-time-section {
          @apply flex flex-wrap;
        }

        .service-provider-open-section {
          .service-provider, .open-to {
            @apply w-full;

            @screen md {
              @apply w-1/2;
            }
          }

          .checkbox-section {
            @apply max-w-xl grid grid-cols-1 pt-4;

            @screen md {
              @apply grid-cols-2;
            }

            @screen lg {
              @apply grid-cols-3 gap-4;
            }

            .checkbox-container {
              @apply relative flex items-start;

              .checkbox {
                @apply absolute flex items-center h-5;

                input {
                  @apply h-4 w-4 text-brand-red transition duration-150 ease-in-out;
                }
              }

              .label {
                @apply pl-7 text-sm leading-5;

                label {
                  @apply text-sm text-gray-700;
                }
              }
            }
          }
        }

        .date-time-section {
          .clinic-date-time-section,
          .clinic-location-section {
            @apply w-full pt-4;

            @screen lg {
              @apply w-1/2;
            }
          }

          .label {
            @apply block text-sm leading-5 text-gray-700;
          }

          select {
            &:focus {
              @apply border-brand-red shadow-none;
            }
          }

          .date-time-inner {
            @apply max-w-xs;

            .clinic-date {
              @apply ;

              input {
                @apply block w-full transition duration-150 ease-in-out text-sm leading-5 mb-4;
              }
            }

            .start-time, .end-time {
              @apply w-full;
            }
          }

          .clinic-location {
            @apply mt-0;

            @screen md {
              @apply mt-1;
            }

            input, select {
              @apply block w-full transition duration-150 ease-in-out text-sm leading-5 mb-4;
            }

            .county,
            .location,
            .address {
              @apply max-w-md rounded-md;
            }

            .zip-city-state {
              @apply max-w-md grid grid-cols-1;

              @screen md {
                @apply grid-cols-3 gap-4;
              }
            }
          }
        }

        .appointment-info-section {
          &-inner {
            @apply pt-4;

            .label {
              @apply block text-gray-900 text-sm leading-5 text-gray-700;

              @screen md {
                @apply text-base leading-6;
              }
            }

            .available-container, .frequency-container {
              @apply border-b border-gray-200 pb-5 mb-4;
            }

            .available-container,
            .frequency-container,
            .slots-container {
              @apply grid grid-cols-3 gap-4 items-baseline;

              label {
                @apply block text-sm leading-5 text-gray-700;
              }


              .radio-section {
                @apply mt-0;

                @screen md {
                  @apply mt-4;
                }

                &-inner {
                  @apply max-w-lg grid grid-cols-1 gap-4;

                  @screen md {
                    @apply grid-cols-2;
                  }

                  @screen lg {
                    @apply grid-cols-3;
                  }
                }

                .radio-inputs {
                  @apply relative flex items-start;

                  label {
                    @apply ml-3;

                    span {
                      @apply block text-sm leading-5 text-gray-700;
                    }
                  }

                  input[type="radio"] {
                    @apply h-4 w-4 text-brand-red transition duration-150 ease-in-out;
                  }
                }
              }

              .frequency-minutes-section,
              .appointment-slots {
                &-inner {
                  @apply max-w-xs;

                  select {
                    @apply block w-full transition duration-150 ease-in-out text-sm leading-5 mb-4;
                  }
                }
              }
            }
          }
        }

        .contact-section {
          &-inner {
            @apply flex flex-wrap pt-5;

            .fields-container {
              @apply w-full;

              @screen lg {
                @apply w-1/2;
              }

              .input-container {
                @apply w-full;

                @screen lg {
                  @apply max-w-xs;
                }
              }

              label {
                @apply block text-sm leading-5 text-gray-700;
              }

              input {
                @apply block w-full transition duration-150 ease-in-out text-sm leading-5 mb-4;
              }
            }
          }
        }

        .other-info-section {
          @apply border-none;

          &-inner {
            @apply flex flex-wrap pt-5;

            .notes-container,
            .clinic-staff-container {
              @apply w-full;

              @screen lg {
                @apply w-1/2;
              }

              label {
                @apply block text-sm leading-5 text-gray-700;
              }

              .input-container {
                @apply max-w-xs;

                textarea, input {
                  @apply block w-full transition duration-150 ease-in-out text-sm leading-5;
                }

                textarea {
                  @apply h-40;
                }

                input {
                  @apply mb-4;
                }
              }

              .add-more-staff-button {
                @apply text-xs text-brand-red pb-1 border-b-2 border-brand-red;

                &:hover {
                  @apply text-brand-red-400 border-brand-red-400;
                }
              }
            }
          }

          .clinic_new_personnel {
            @apply relative;

            .clinic-new-personnel-delete-button {
              @apply absolute;
              top: -8px;
              right: -8px;

              .remove_record {
                @apply rounded-full shadow flex justify-center items-center bg-brand-red text-white;
                width: 25px;
                height: 25px;

                &:hover {
                  @apply bg-brand-red-400;
                }

                span {
                  @apply text-xs;
                }
              }
            }
          }
        }
      }
    }
  }
}
