<% colspan = 1 if local_assigns[:colspan].nil? %>
<% width = 1 if local_assigns[:width].nil? %>
<td class="border border-black align-top pl-4" colspan=<%=colspan%>>
  <p class="font-bold w-full text-xs"><%= label %></p>
  <div class="pt-2 pl-2 font-mono text-xs font-bold text-gray-800 tracking-widest pr-2"><%= value %></div>
</td> 
