<div data-target="clinic-activity-patients.deleteModal"
  class="modal hidden fixed w-full h-full top-0 left-0 flex items-center justify-center">

  <div class="modal-overlay fixed w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute p-8 bg-white rounded-lg shadow-lg flex w-2/4">
    <div class="w-full">
      <p>Are you sure you want to delete this clinic event? You will not be able to recover once you have deleted.</p>
      <div class="mt-8 pt-5">
        <div class="flex justify-end">
          <span class="inline-flex rounded-md shadow-sm">
            <a class="button-danger" rel="nofollow" data-method="delete" data-target="clinic-activity-patients.deleteRecordButton" href="">Delete</a>
          </span>
          <span class="inline-flex rounded-md shadow-sm">
            <a data-action="click->clinic-activity-patients#showHideDeleteModal" class="button-primary sm:mr-0 md:mr-0">Cancel</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
