<h1>Employer#request_confirmation</h1>

<p>
Dear <%= @employer.full_name %>,
</p>

<p>
your request to receive COVID-19 information about your employees or students has been submitted successfully.
</p>

<p>
Your regional administrator will be in touch shortly. To inquire about our request call your state health department.
</p>

<p>
Thank you,
Clinic Wizard
</p>