<h1>Employer#request_confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/employer_mailer/request_confirmation.html.erb
</p>

<p>
Thank you for your request <%= @employer.first_name %>. Your Regional Administrator will be in touch shortly. To inquire about our request call your state health department.
</p>