<p>
    <%= t 'views.employer_mailer.request_confirmation.message' %>
    <br />
    <%= t 'views.employer_mailer.request_confirmation.contact' %>
    <br />
    <%= t 'views.employer_mailer.request_confirmation.request_status' %>
</p>
