@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "sessions";

body {
    @apply bg-brand-gray-200;
}
// This will be changed
.container {
    width: 100%;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 576px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 992px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
