.container {
  @apply relative max-w-screen-xl mx-auto px-4 py-4 px-6;

  @screen lg {
    @apply pb-4 px-8 py-8;
  }
}

.required-field {
  @apply text-brand-red;
}

// Form card
.card-wrapper {
  @apply bg-white shadow rounded;
  padding: 25px 45px 20px 45px;

  .card-header {
    @apply text-brand-red text-2xl my-8 pb-2 border-b-2 border-brand-gray-300;
  }

  .card-content {
    .form-group {
      @apply flex flex-wrap;

      &:nth-child(3) {
        @apply mb-10;
      }

      .form-question {
        @apply text-sm text-gray-600 font-bold mb-2;
      }

      input:not([type='checkbox']), select {
        @apply form-input block w-full transition duration-150 ease-in-out bg-brand-gray-100 outline-none rounded-none;
        height: 42px;

        &:focus {
          @apply border-brand-red;
        }
      }

      input, select, label, .label {
        @apply text-sm;
      }

      .group-elem {
        @apply w-full mb-5;

        @screen md {
          @apply w-1/2;
        }

        &:first-child {
          @apply pr-0;

          @screen md {
            @apply pr-12;
          }
        }

        .checkbox-options {
          @apply block;

          @screen lg {
            @apply flex justify-between;
          }

          .checkbox-group {
            @apply relative flex items-start;

            .checkbox-icon {
              @apply absolute flex items-center h-5;
            }

            .label-wrapper {
              @apply pl-7 text-sm leading-5;

              @screen md {
                @apply pl-6;
              }
            }
          }

          .form-checkbox {
            @apply transition duration-300 ease-in-out text-brand-red outline-none;
          }
        }
      }
    }

    .button-container {
      @apply flex items-center justify-center;

      .submit-button {
        @apply flex justify-center items-center bg-brand-red text-white rounded-full mb-12;
        width: 200px;
        height: 51px;
      }
    }
  }
}

// Shared Navbar
.header-logos {
  @apply flex justify-between;

  .mpp-logo {
    width: 238px;
  }

  .mp4p-logo {
    width: 178px;
  }
}


.clinic-result{
  @apply bg-white px-12 py-8 border-brand-gray-300 border;
  h1 {
    @apply text-2xl font-bold;
  }

  h4{
    @apply text-sm text-gray-600;
  }
}

.form-question {
  @apply text-sm text-gray-600 font-bold mb-2;
}

.button-container {
  @apply flex items-center justify-center;

  .submit-button {
    @apply flex justify-center items-center bg-blue-500 text-white rounded-full mb-12;
    width: 200px;
    height: 51px;
  }
}

.clinic-management-links {
  @apply flex mt-4 mb-4 justify-center;
  a {
    @apply bg-blue-500 text-white font-bold py-2 px-4 mr-2 rounded-full;
  }
  a:hover {
    @apply bg-blue-600;
  }
}

.clinic-action{
  @apply bg-blue-500 text-white rounded-full mb-12 p-2;
}