.container {
  @apply relative max-w-screen-xl mx-auto px-4 py-4 px-6;

  @screen lg {
    @apply pb-4 px-8 py-8;
  }
}

.required-field {
  @apply text-brand-red;
}

.page-header {
  @apply flex justify-between mb-4 pb-3 border-b-2 border-brand-gray-300;

  h3 {
    @apply text-brand-red text-2xl leading-6 font-bold;
  }
}

// Form card
.card-wrapper {
  
  .card-header {
    @apply flex justify-between mb-8 pb-2 border-b-2 border-brand-gray-300;

    h3 {
      @apply text-brand-red text-2xl;
    }

    .links-buttons {
      @apply flex justify-between;

      a {
        @apply text-brand-gray-600 text-sm transition duration-150 ease-in-out mr-4;

        &:last-child {
          @apply mr-0;
        }

        &:hover {
          @apply text-brand-red-400;
        }
      }
    }
  }

  .details-section {
    @apply flex flex-wrap mb-6;

    h3 {
      @apply w-full font-bold text-black text-base mb-1;

      @screen md {
        @apply w-1/2 pr-8;
      }

      @screen lg {
        @apply w-1/3;
      }

      &:last-child {
        @apply pr-0;
      }
    }
  }

  .card-content {
    .form-group {
      @apply flex flex-wrap;

      &:nth-child(3) {
        @apply mb-10;
      }

      .form-question, .form-group-label {
        @apply text-sm text-gray-600 font-bold mb-2;
      }

      input:not([type='checkbox']), select {
        @apply form-input block w-full rounded transition duration-150 ease-in-out bg-brand-gray-100 outline-none text-sm text-gray-600;
        height: 42px;

        &:focus {
          @apply border-brand-red;
        }
      }

      input, select, label, .label {
        @apply text-sm;
      }

      label {
        @apply text-brand-gray-600;
      }

      select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
      }

      .group-elem {
        @apply w-full mb-5;

        @screen md {
          @apply w-1/2;
        }

        &:first-child {
          @apply pr-0;

          @screen md {
            @apply pr-12;
          }
        }

        .checkbox-options {
          @apply block;

          @screen lg {
            @apply flex justify-between;
          }

          .checkbox-group {
            @apply relative flex items-start;

            .checkbox-icon {
              @apply absolute flex items-center h-5;
            }

            .label-wrapper {
              @apply pl-7 text-sm leading-5;

              @screen md {
                @apply pl-6;
              }
            }
          }

          .form-checkbox {
            @apply transition duration-300 ease-in-out text-brand-red outline-none;
          }
        }
      }
    }

    .button-container, .submit-buttons {
      @apply flex items-center justify-center;

      .submit-button {
        @apply flex justify-center items-center bg-blue-500 text-white rounded-full mb-12;
        width: 200px;
        height: 51px;
      }
    }

    .submit-buttons {
      @apply ;
    }
  }
}

// Shared Navbar
.logo {
  @apply bg-white flex justify-start;

  .mod-logo {
    width: 120px;

    @screen md {
      width: 158px;
    }

    @screen lg {
      width: 220px;
    }
  }
}

.header-logos {
  @apply flex justify-between;

  .mpp-logo {
    width: 238px;
  }

  .mp4p-logo {
    width: 178px;
  }
}


.clinic-result{
  @apply bg-white px-12 py-8 border-brand-gray-300 border;
  h1 {
    @apply text-2xl font-bold;
  }

  h4{
    @apply text-sm text-gray-600;
  }
}

.form-question {
  @apply text-sm text-gray-600 font-bold mb-2;
}

.button-container {
  @apply flex items-center justify-center;

  .submit-button {
    @apply flex justify-center items-center bg-blue-500 text-white rounded-full mb-12;
    width: 200px;
    height: 51px;
  }
}

.clinic-management-links {
  @apply flex mt-4 mb-4 justify-center;
  a {
    @apply mr-2 inline-block border border-gray-800 bg-blue-500 rounded text-white py-1 px-3;
  }

  a:hover {
    @apply border-black bg-blue-600;
  }
}

// Pagination
.pagination-section {
  @apply px-6 py-3 flex items-center justify-between border-t border-gray-200 mt-4;

  @screen md {
    @apply px-4;
  }

  .pagination-container {
    @apply flex-1 flex items-center justify-between;

    .pagination-info {
      @apply hidden;

      @screen md {
        @apply flex;
      }

      p {
        @apply text-sm leading-5 text-gray-700;
      }
    }

    .pagination-buttons {
      @apply w-full;

      @screen md {
        @apply w-auto;
      }

      .lg-buttons {
        @apply hidden;

        @screen lg {
          @apply flex relative z-0 inline-flex shadow-sm;
        }
      }

      .sm-buttons {
        @apply flex relative z-0 inline-flex w-full;

        .pagination {
          @apply w-full justify-between;

          .previous_page, .next_page {
            @apply rounded-md;
          }
        }

        @screen lg {
          @apply hidden;
        }
      }
    }
  }

  .pagination {
    @apply flex;

    @screen md {
      @apply flex;
    }

    .previous_page, .next_page {
      //@apply p-3 border-gray-300 border rounded mr-2 font-bold;
      @apply relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 transition ease-in-out duration-150;
      &:hover{
        @apply text-gray-400;
      }

      &:focus {
        @apply z-10 outline-none border-blue-300 shadow-outline-blue;
      }

      &:active{
        @apply bg-gray-100 text-gray-500;
      }
    }

    .previous_page { @apply rounded-l-md; }
    .next_page { @apply rounded-r-md; }

    a, .current, .gap {
      @apply -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 transition ease-in-out duration-150;

      &:hover{@apply text-gray-500;}
      &:focus{@apply z-10 outline-none border-blue-300 shadow-outline-blue;}
      &:active{@apply bg-gray-100 text-gray-700;}
    }

    .previous_page.disabled, .next_page.disabled, a.disabled {
      @apply bg-gray-50;
    }
  }
}

.modal {
  transition: opacity 0.25s ease;
}

.clinic-management-container{
  @apply bg-white p-8 rounded shadow;
}

.inventory-table{
  @apply min-w-full shadow border-b border-gray-200;

  th{
    @apply font-bold text-xs border-b;
  }
  td{
    @apply border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 text-gray-500;
  }

  tbody tr 
  {
    @apply mb-2 border-b border-gray-200 text-xs text-gray-500;
  }
}
