.button {
    &-base {
        @apply rounded-lg border-2 border-gray-300 cursor-pointer text-center transition duration-200 ease-in-out;
        @apply flex justify-center items-center mr-4 py-2 px-6;
        

        &:focus { @apply outline-none; }
    }

    &-action {
        @extend .button-base;
        @apply p-2 inline-block bg-gray-100 text-gray-800;
        min-height: auto;
        min-width: auto;
        width: auto;
        &:hover { @apply bg-brand-blue-600 border-brand-blue-300 text-white }
    }

    &-primary {
        @extend .button-base;
        @apply bg-brand-blue-600 border-brand-blue-300 text-white text-lg;
        
        &:hover { background-color: lighten(#2699FB, 5%); }
    }

    &-danger {
        @extend .button-base;
        @apply bg-red-600 border-red-300 text-white text-lg;
        
        &:hover { background-color: lighten(#ff1a1a, 5%); }
    }

    &-primary-fullwidth {
        @extend .button-base;
        @apply bg-brand-blue-600 text-white w-full;

        &:hover { background-color: lighten(#2699FB, 5%); }
    }

    &-tab {
        @extend .button-base;
        @apply bg-gray-100 rounded-full border-gray-300 text-gray-800 text-sm font-normal px-3 mx-3 py-0 mb-2;
        min-height: auto;
        min-width: auto;
        width: auto;
        
        &:hover {  @apply bg-brand-blue-600 border-brand-blue-300 text-white; }

        &-active {  @apply bg-brand-blue-600 border-brand-blue-300 text-white; }
    }

    &-add-more-staff {
        @apply text-xs text-brand-blue-600 pb-1 border-b border-brand-blue-600;

        &:hover { @apply text-blue-400 border-blue-400; }
    }

    &-option-yes {
        @extend .button-base;
        @apply p-2 inline-block bg-green-400 text-white leading-none mt-2;
        min-height: auto;
        min-width: auto;
        width: auto;
        &:hover { background-color: lighten(#24ac20, 5%);}
    }

    &-option-no {
        @extend .button-base;
        @apply p-2 inline-block bg-red-500 text-white leading-none mt-2; 
        min-height: auto;
        min-width: auto;
        width: auto;
        &:hover { background-color: lighten(#ff1a1a, 5%);}
    }

    &-cancel {
        @extend .button-base;
        @apply  rounded-lg px-2 mx-3 inline-block py-0 bg-brand-blue-600 text-white text-xs ml-8 relative;
        min-height: auto;
        min-width: auto;
        width: auto;
        &:hover { @apply text-white bg-brand-blue-300; }
    }
}
