.field {
    &-base {
        @apply pb-3 border-b border-gray-200 mb-6;
    }

    &-fullwidth {
        @extend .field-base;
        @apply block w-full;
    }

    &-side-by-side {
        @extend .field-base;
        @apply grid grid-cols-2 gap-4;
    }

    &-required {
        @apply text-red-600;
    }

    // common design
    &-fullwidth,
    &-side-by-side {
        .title {
            @apply block w-full text-xl leading-5 text-gray-800 font-black mb-2;
        }
    }
}

label,
.label {
    @apply text-gray-600 text-sm font-medium;
}

input {
    // for all inputs
    @apply bg-white border transition duration-150 ease-in-out;

    &::placeholder {
        @apply text-gray-500;
    }

    &:focus {
        @apply outline-none;
    }

    // based on type
    &[type='text'],
    &[type='number'],
    &[type='date'],
    &[type='email'],
    &[type='password'] {
        @apply px-3 mb-4;
        min-height: 50px;
        max-height: 50px;
    }

    &.form-input,
    &.form-select {
        @apply rounded-sm;
    }

    &.form-radio,
    &.form-checkbox {
        @apply border-gray-500;
    }
}

.form-textarea {
    @apply rounded-sm transition duration-150 ease-in-out;

    &-disabled {
        background-color: rgba(128, 128, 128, 0.2);
    }
}

select {
    &.form-select {
        @apply transition duration-150 ease-in-out mb-4 rounded-sm;
        min-height: 50px;
        max-height: 50px;
    }
}

input,
textarea,
select {
    &:disabled {
        @apply bg-gray-50 text-gray-700 cursor-not-allowed;
    }
}

// Checkboxes group
.checkboxes-container {
    @apply grid grid-cols-3 gap-4;

    >div {
        @apply flex items-center;

        span:first-child {
            @apply mr-1;
        }
    }
}

// Radio buttons group
.radio-buttons-container {
    @apply grid grid-cols-3 gap-2;
}