// Multistep form progressbar
.multistep-form-progressbar {
    counter-reset: step;
    @apply flex;

    li {
        @apply list-none flex-1 float-left text-xs relative text-center uppercase text-gray-600;

        &:before{
            @apply  border-2 border-gray-600 block text-center rounded-full bg-white;
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            margin: 0 auto 10px auto;
        }

        &:after {
            @apply w-full absolute bg-gray-600;
            height: 2px;
            content: '';
            top: 15px;
            left: calc((-50%) + (-6px));
            z-index: -1;
        }

        &:first-child:after {
            content: none;
        }
    }

    // When li is active
    li {
        &.active {
            @apply text-brand-blue-600 text-xs;

            @screen md {
                @apply text-sm;
            }

            &:before {
                @apply border-brand-blue-600;
            }

            & + li:after {
                @apply bg-brand-blue-600;
            }
        }
    }
}

@media print {
    * {
        @apply p-0 m-0 invisible;
        height: 0;

        .main-navbar-container,
        .main-links-container,
        .table-action-buttons,
        .search-inputs-container {
            @apply hidden;
        }
    }
    .printable *, .header h2 {
        @apply visible;
    }
}

// Dropdown with checkboxes
.multiselect-dropdown { @apply relative; }
.selectBox { @apply relative; }
.overSelect { @apply absolute left-0 right-0 top-0 bottom-0; }
.checkboxes-in-dropdown {
    @apply hidden border absolute bg-white overflow-scroll py-2 transition duration-200 ease-in-out;
    top: 52px;
    max-height: 300px;

    &::-webkit-scrollbar { width: 4px; }

    &::-webkit-scrollbar-thumb {
        @apply rounded-lg;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    &.active {
        @apply block;
    }
}

// Show progress for direct upload
.direct-upload {
    // display: inline-block;
    @apply relative border border-brand-blue-300 rounded-sm text-sm mb-4 px-4;
    min-height: 50px;
}

.direct-upload--pending { opacity: 0.6; }

.direct-upload__progress {
    @apply absolute top-0 left-0 bottom-0 bg-brand-blue-600 flex justify-center items-center;
    opacity: 0.6;
    transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
    transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress { opacity: 0.4; }
.direct-upload--error { @apply border-red-600; }
input[type=file][data-direct-upload-url][disabled] { @apply hidden; }

// Clinic Personnel - Hide close button for first input
.fields {
    .clinic_new_personnel:first-child {
        .remove_record { @apply hidden; }
    }
}

// Flash Message 2
.flash-message-modal {
    @apply fixed w-full h-full top-0 left-0 items-center justify-center z-50;
    @apply hidden;

    &.flash-message-modal-active {
        @apply flex;
    }
}

.flash-message-overlay {
    @apply fixed w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer;
}

.flash-message-container {
    @apply absolute p-8 bg-white rounded-lg shadow-lg flex w-2/4;
}

//awesomplete
.awesomplete { @apply w-full; }
