@import "tailwindcss.min";

.patient-pdf-page {
  font-family: sans-serif;

  .header {
    position: relative;
    height: 60px;
    width: 100%;

    .logo, .school-nurse {
      position: absolute;
    }

    .logo {
      left: 0;
      top: 0;
    }

    .school-nurse {
      width: 150px;
      border-top: 1px solid #000000;
      right: 0;
      top: 25%;
    }
  }
}
