<h1> Welcome! </h1>
<p>
    You have been granted access to PrepMod.
    <br />
    Your username is the email address to which this invitation has been sent.
</p>

<p> Please click <%= link_to "here", accept_invitation_url(@resource, invitation_token: @token) %> to create a new password.</p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

