<p>
    Dear <%= @patient.full_name %>,
</p>

<p>
    your request for registration for COVID-19 testing has been submitted successfully.
</p>

<p>
    Your regional administrator will be in touch shortly. To inquire about our request call your state health
    department.
</p>

<p>
    Thank you, <br/>
    Clinic Wizard
</p>