<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="flex w-full my-4 text-gray-700">
          <h1 class="text-center mx-auto xl:text-6xl">Partners:</h1>
      </div>

      <div class="sm:grid sm:grid-cols-1 sm:col-gap-10 sm:row-gap-10 md:grid-cols-3 lg:mt-12 lg:flex items-center">
        <div class="lg:ml-0 lg:mr-auto">
          <div class="mod-logo max-w-md"><%= image_tag 'prep-mod.png' %></div>
        </div>
        <div class="lg:mx-auto">
            <%= image_tag "multi_state_partnership_logo.png", style: "max-height: 140px;" %>
        </div>
        <div class="lg:ml-auto lg:mr-0">
            <%= image_tag "maryland_partnership_logo.png", style: "max-height: 80px;" %>
        </div>
      </div>

    <div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
      <p class="mt-8 text-base leading-6 text-gray-400 md:mt-0 md:order-1">
        &copy; <%= Date.current.year %> ClinicWizard, Inc. All rights reserved.
      </p>
    </div>

  </div>
</div>