<div class="container bg-gray-50 overflow-hidden">

  <%= form_with(model: @patient, url: "/kit/create", remote: false, class: "bg-white p-8 md:-12 lg:p-16 rounded-lg shadow") do |f| %>
    <h1 class="text-2xl leading-6 font-medium text-blue-600 font-bold mb-2">Register for COVID-19 Safety Kit </h1>

    <br/><br/>

    <%= render "form_fields", f: f %>


    <%# <a href="/clear_session">Log Out</a> %>
    <div class="button-container">
      <%= submit_tag "Save and Continue →", class: "submit-button mt-10" %>
    </div>
  <% end %>

</div>