<h1 class="main-title"> Capacity </h1>
<p> A summary of resources and utilization by venue, county, or statewide.
    Includes available testing appointments, scheduled appointments, pockets of need.</p>

<div class="grid grid-cols-2 gap-4 mt-8">
    <div class="pr-4 border-r border-gray-100 mr-4">
        <%= pie_chart reports_capacity_available_testing_appointments_path, donut: true, title: "Available appointments by venue" %>
    </div>
    <div>
        <%= pie_chart reports_capacity_scheduled_appointments_path, donut: true, title: "Scheduled appointments by venue" %>
    </div>
    <div class="pr-4 border-r border-gray-100 mr-4 mt-8">
        <%= bar_chart reports_capacity_available_testing_appointments_by_county_path, title: "Available appointments by county" %>
    </div>
    <div class="mt-8">
        <%= column_chart reports_capacity_scheduled_appointments_by_county_path, title: "Scheduled appointments by county"%>
    </div>
</div>



