<div class="justify-between flex">
    <h1 class="main-title justify-start"> Customized Reports </h1>
    <div class="justify-end text-gray-700 mt-4">
        <%= Time.current.time %>
    </div>
</div>
<p> Choose from a variety of data points to create your own report. </p>