<h1 class="main-title"> Locations </h1>
<p> A summary of activities at testing sites: overall number, number of 
    tests administered by location, ratio of available appointments to 
    completed appointments, patient demographics. </p>