<h1 class="text-2xl font-bold mb-6 text-gray-700"> News and Notifications Contact List </h1>
<div class="mb-2">
    <%= Time.current.time %>
</div>
<table class="w-full mb-6">
    <thead>
        <tr class="bg-blue-600">
            <th class="px-4 text-left text-white py-4"> Full Name </th>
            <th class="px-4 text-left text-white py-4"> Email </th>
        </tr>
    </thead>
    <tbody>
        <% @news_signups.each do |news_signup| %>
            <tr>
                <td class="px-4 py-2"> <%= "#{news_signup.first_name} #{news_signup.last_name}" %> </td>
                <td class="px-4 py-2"> <%= news_signup.email %> </td>
            </tr>
        <% end %>
    </tbody>
</table>