<div class="justify-between flex">
    <h1 class="main-title justify-start"> Providers Reports </h1>
    <div class="justify-end text-gray-700 mt-4">
        <%= Time.current.time %>
    </div>
</div>
<p class="mb-12">
    An accounting of providers engaged in the response by specialty, regions,
    number of patients tested, vaccine inventory.
</p>

<div class="grid grid-cols-2 gap-4">
    <div class="pr-4 border-r border-gray-100 mr-4">
        <%= pie_chart reports_providers_by_specialty_path, donut: true, title: "Providers engaged by specialty" %>
    </div>
    <div>
        <%= pie_chart reports_providers_by_county_path, donut: true, title: "Providers engaged by regions" %>
    </div>
</div>
