<h1> Snapshot </h1>
<p> A quick look at metrics of interest by demographics, region, or county:
    number of people tested, positive results, negative results, evidence of immunity. </p>

<% @results.each do |r| %>
    <p> <%= r[0] %>: <%= r[1] %> </p>
<% end %>