<%= render partial: 'reports/reports_header', locals: {title: "Snapshot"} %>
<p> A quick look at metrics of interest by demographics, region, or county:
    number of people tested, positive results, negative results, evidence of immunity. </p>
    <%= link_to "Download PDF Report", reports_snapshot_tested_path(format: :pdf), target: "_blank", class: "button-primary w-3/12 mt-3" %>

    <div class="mt-8">
    <div>
        <%= column_chart reports_snapshot_tested_path, donut: true, title: "Total number of people tested" %>
    </div>
</div>