<h1 class="main-title"> Supply Inventories </h1>
<p class="mb-12"> An accounting of testing kits and other supplies by venue, county, or statewide. </p>

<div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
    <div class="p-4 border border-gray-50 rounded-lg ">
        <%= column_chart reports_supply_inventories_by_county_path, title: "Supplies by county",
            height: "200px",
            discrete: true,
            legend: false,
            ytitle: "No. of inventories",
            library: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }]
                }
            },
            dataset: { 
                barPercentage: 0.6,
            }
        %>
    </div>
    <div class="p-4 border border-gray-50 rounded-lg ">
        <%= bar_chart reports_supply_inventories_by_venue_name_path, title: "Supplies by venue",
            height: "200px",
            discrete: true,
            legend: false,
            xtitle: "No. of inventories",
            library: {
                scales: {
                    xAxes: [{
                        ticks: {stepSize: 1},  
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }]
                }
            },
            dataset: { 
                categoryPercentage: 0.6,
            }
        %>
    </div>
</div>
