<%= render partial: 'reports/reports_header', locals: {title: "Uptake"} %>
<p class="mb-3"> An overview of COVID-19 services utilized so far by demographics,
    ZIP Code, county, or region: number of available appointments, number of completed appointments.</p>
<%= link_to "Download PDF Report", reports_uptake_path(format: :pdf), target: "_blank", class: "button-primary w-3/12 mb-12" %>

<%= column_chart reports_available_and_completed_appointments_path, title: "Availabale/Completed appointments" %>
