<div class="bg-white z-50 relative">
     <div class="max-w-screen-xl mx-auto px-4 py-4 sm:px-6 lg:pb-4 lg:px-8 lg:py-8 flex justify-between items-end">
         <div>
             <%= image_tag "maryland_partnership_logo.png", style: "max-height: 60px;" %>
         </div>

         <div>
             <%= image_tag "multi_state_partnership_logo.png", style: "max-height: 86px;" %>
         </div>
     </div>
 </div>