<div class="py-6 px-2 lg:px-64 bg-white justify-between flex main-navbar-container">
                <%= image_tag "maryland_partnership_logo.png", style: "max-height: 60px;" %>
                <%= image_tag "multi_state_partnership_logo-edit.png", style: "max-height: 70px;" %>
</div>
